{% extends "blog/layout.html" %}
{% load static %}

{% block style %}
    <link href="{% static 'blog/styles/newsletter.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    
    <!-- 
        The whole "newsletter" page is contained into a single section. This one is divided
        into three rows, called "elements-row", each one containing three articles 
        horizontally aligned.
        NOTE: ALL BUTTONS ONLY MEANT FOR DECORATIVE PURPOSES AND DO NOT CONTAIN ANY LINK.
    -->
    <main>
        <!-- The one and only section in which the page is divided-->
        <section class="container-section">
            <!-- Section title -->
            <h1>SIGN UP FOR THE VERVE<br>NEWSLETTER</h1>
            <!-- The first of the three rows of articles -->
            <div class="elements-row">
                <!-- First article from the section -->
                <article class="vertical-news-article boxy-article">
                    <!-- Newsletter image container: containing the image of each article -->
                    <div class="newsletter-image-container">
                        <img src="{% static 'blog/images/newsletter1.jpg' %}" alt="Close-up of a musician playing a blues guitar. The close up shows the ending part of the neck of the guitar and the right hand holding the pick">
                    </div>
                    <!-- News text container: containing the text part  of each article, which includes a title and an article brief. -->
                    <div class="newsletter-text-container">
                        <h3 class="vertical-news-article-title">Weekly Music Updates</h3>
                        <p class="article-brief">
                            Stay in the groove with our weekly music updates. Get the latest on your favorite artists,
                            and exclusive behind-the-scenes stories.
                        </p>
                    </div>
                    <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                    <button class="action-button larger-button">SIGN UP</button>
                </article>
                <!-- Second article from the section -->
                <article class="vertical-news-article boxy-article">
                    <!-- Newsletter image container: containing the image of each article -->
                    <div class="newsletter-image-container">
                        <img src="{% static 'blog/images/newsletter2.jpg' %}"  alt="The inside of a music store with a huge wall containing countless vynils. The close-up is on the 'Easy Listening' section">
                    </div>
                    <!-- News text container: containing the text part  of each article, which includes a title and an article brief. -->
                    <div class="newsletter-text-container">
                        <h3 class="vertical-news-article-title">New Album Releases</h3>
                        <p class="article-brief">
                            Be the first to know about new album releases. Our newsletter covers hottest,
                            album reviews, and exclusive interviews with musicians.
                        </p>
                    </div>
                    <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                    <button class="action-button larger-button">SIGN UP</button>
                </article>
                <!-- Third article from the section -->
                <article class="vertical-news-article boxy-article">
                    <!-- Newsletter image container: containing the image of each article -->
                    <div class="newsletter-image-container">
                        <img src="{% static 'blog/images/newsletter3.jpg' %}"  alt="Wide shot of a crowd cheering at a concert. It is during nighttime and the stage is all covered in smoke">
                    </div>
                    <!-- News text container: containing the text part  of each article, which includes a title and an article brief. -->
                    <div class="newsletter-text-container">
                        <h3 class="vertical-news-article-title">Concert Highlights</h3>
                        <p class="article-brief">
                            Relive the best concert moments with our Concert Highlights newsletter. Get access to
                            exclusive photos and backstage stories.
                        </p>
                    </div>
                    <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                    <button class="action-button larger-button">SIGN UP</button>
                </article>
            </div>

            <!-- The second of the three rows of articles -->
            <div class="elements-row">
                <!-- First article from the section -->
                <article class="vertical-news-article boxy-article">
                    <!-- Newsletter image container: containing the image of each article -->
                    <div class="newsletter-image-container">
                        <img src="{% static 'blog/images/newsletter4.jpg' %}"  alt="Close-up of a drum kit showing the bass drum, the snare drum and the high hat">
                    </div>
                    <!-- News text container: containing the text part  of each article, which includes a title and an article brief. -->
                    <div class="newsletter-text-container">
                        <h3 class="vertical-news-article-title">Artist Spotlights</h3>
                        <p class="article-brief">
                            Dive deep into your favorite artists with our Artist Spotlights newsletter.
                            Discover their musical journeys, and exclusive performances.
                        </p>
                    </div>
                    <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                    <button class="action-button larger-button">SIGN UP</button>
                </article>
                <!-- Second article from the section -->
                <article class="vertical-news-article boxy-article">
                    <!-- Newsletter image container: containing the image of each article -->
                    <div class="newsletter-image-container">
                        <img src="{% static 'blog/images/newsletter5.jpg' %}"  alt="Shot in black and white of the backstage of a music concert happening in a large stadium">
                    </div>
                    <!-- News text container: containing the text part  of each article, which includes a title and an article brief. -->
                    <div class="newsletter-text-container">
                        <h3 class="vertical-news-article-title">Music Industry Insights</h3>
                        <p class="article-brief">
                            Get a behind-the-scenes look at the music industry. Stay informed about trends, innovations,
                            with industry professionals.
                        </p>
                    </div>
                    <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                    <button class="action-button larger-button">SIGN UP</button>
                </article>
                <!-- Third article from the section -->
                <article class="vertical-news-article boxy-article">
                    <!-- Newsletter image container: containing the image of each article -->
                    <div class="newsletter-image-container">
                        <img src="{% static 'blog/images/newsletter6.jpg' %}"  alt="Close-up shot of a person playing the bass guitar. In the shot only the hands of the musician and the instrument are visible">
                    </div>
                    <!-- News text container: containing the text part  of each article, which includes a title and an article brief. -->
                    <div class="newsletter-text-container">
                        <h3 class="vertical-news-article-title">Classic Hits Rewind</h3>
                        <p class="article-brief">
                            Take a trip down memory lane with Classic Hits Rewind. Relish the timeless
                            classics, and iconic albums from music's golden era.
                        </p>
                    </div>
                    <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                    <button class="action-button larger-button">SIGN UP</button>
                </article>
            </div>

            <!-- The third of the three rows of articles -->
            <div class="elements-row">
                <!-- First article from the section -->
                <article class="vertical-news-article boxy-article">
                    <!-- Newsletter image container: containing the image of each article -->
                    <div class="newsletter-image-container">
                        <img src="{% static 'blog/images/newsletter7.jpg' %}"  alt="Wide shot of a crowd cheering at a concert. The stage is all covered in yellow lights nothing is visible in it">
                    </div>
                    <!-- News text container: containing the text part  of each article, which includes a title and an article brief. -->
                    <div class="newsletter-text-container">
                        <h3 class="vertical-news-article-title">Music Event Updates</h3>
                        <p class="article-brief">
                            Stay in the loop about upcoming music events and festivals. Get details on lineups, ticket
                            sales, and exclusive backstage access.
                        </p>
                    </div>
                    <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                    <button class="action-button larger-button">SIGN UP</button>
                </article>
                <!-- Second article from the section -->
                <article class="vertical-news-article boxy-article">
                    <!-- Newsletter image container: containing the image of each article -->
                    <div class="newsletter-image-container">
                        <img src="{% static 'blog/images/newsletter8.jpg' %}" alt="Image of a music production room. It shows the equipment needed in such place like mixers, equalizers, and a person following the track playing on a computer">
                    </div>
                    <!-- News text container: containing the text part  of each article, which includes a title and an article brief. -->
                    <div class="newsletter-text-container">
                        <h3 class="vertical-news-article-title">Exclusive Interviews</h3>
                        <p class="article-brief">
                            Gain insights into the lives and thoughts of your favorite musicians. Get access to in-depth
                            conversations and personal stories.
                        </p>
                    </div>
                    <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                    <button class="action-button larger-button">SIGN UP</button>
                </article>
                <!-- Third article from the section -->
                <article class="vertical-news-article boxy-article">
                    <!-- Newsletter image container: containing the image of each article -->
                    <div class="newsletter-image-container">
                        <img src="{% static 'blog/images/newsletter9.jpg' %}"  alt="Close up shot of the pedalborad of a musician. The feet of the person are intent into pressing one of the buttons of the pedalboard">
                    </div>
                    <!-- News text container: containing the text part  of each article, which includes a title and an article brief. -->
                    <div class="newsletter-text-container">
                        <h3 class="vertical-news-article-title">Behind-the-Scenes</h3>
                        <p class="article-brief">
                            Uncover the magic behind your favorite music videos and live performances. Go backstage with
                            the artists and production teams.
                        </p>
                    </div>
                    <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                    <button class="action-button larger-button">SIGN UP</button>
                </article>
            </div>
        </section>
    </main>

{% endblock %}