{% extends "blog/layout.html" %}
{% load static %}

{% block style %}
    <link href="{% static 'blog/styles/subscribe.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

    <script>
        var checkmark = "{% static 'blog/images/checkmark.svg' %}"
        var white_checkmark = "{% static 'blog/images/white-checkmark.svg' %}"
    </script>

    <!-- 
        The whole "subscribe" page is divided into two section, the first one in yellow, containing
        the subscription options for the user. The second one, with a white background, contains
        the reasons for which a user might choose subscribing to the website.
    -->
    <main class="subscribe-main">
        <!-- 
            The first of the two sections in which the page is divided. It contains the subscription
            options distributed in two different subsections: the first one horizontal and the
            second one vertical.
            NOTE: ALL BUTTONS ONLY MEANT FOR DECORATIVE PURPOSES AND DO NOT CONTAIN ANY LINK.
        -->
        <section class="container-section primary-section">
            <h1>CHOOSE YOUR THE VERVE<br>SUBSCRIPTION</h1>
            <!--
                The first of the two "subsections". It contains an horizontal 
                list of subscribe options.
            -->
            <div class="elements-row">
                <!-- First article from the section -->
                <article class="subscribe-article boxy-article">
                    <!-- Subscribe text container: containing the text part of each article, which includes titles and a button -->
                    <div class="subscribe-text-container">
                        <h2 class="subscribe-article-title">Digital</h2>
                        <h2 class="subscribe-article-price">79.99$</h2>
                        <h4>FOR 1 YEAR</h4>
                        <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                        <button class="action-button larger-button">SELECT</button>
                    </div>
                    <!-- The list of benefits the user gets when choosing this subscribe option -->
                    <ul class="subscribe-benefits">
                        <li>
                            <img class="checkmark" src="{% static 'blog/images/checkmark.svg' %}"
                                alt="Subscription benefit checkmark icon: a 'v' shaped icon that indicates successful completion or approval">
                            Unlimited access to TheVerve.com
                        </li>
                        <li>
                            <img class="checkmark" src="{% static 'blog/images/checkmark.svg' %}"
                                alt="Subscription benefit checkmark icon: a 'v' shaped icon that indicates successful completion or approval">
                            Full digital archive from 1857 to today
                        </li>
                        <li>
                            <img class="checkmark" src="{% static 'blog/images/checkmark.svg' %}"
                                alt="Subscription benefit checkmark icon: a 'v' shaped icon that indicates successful completion or approval">
                            Subscriber-only newsletters
                        </li>
                        <li>
                            <img class="checkmark" src="{% static 'blog/images/checkmark.svg' %}"
                                alt="Subscription benefit checkmark icon: a 'v' shaped icon that indicates successful completion or approval">
                            iOS & Android app
                        </li>
                        <li>
                            <img class="checkmark" src="{% static 'blog/images/checkmark.svg' %}"
                                alt="Subscription benefit checkmark icon: a 'v' shaped icon that indicates successful completion or approval">
                            Exclusive live events
                        </li>
                        <li>
                            <img class="checkmark" src="{% static 'blog/images/checkmark.svg' %}"
                                alt="Subscription benefit checkmark icon: a 'v' shaped icon that indicates successful completion or approval">
                            PDF issues, audio articles, & more
                        </li>
                    </ul>
                </article>

                <!-- Second article from the section -->
                <article class="subscribe-article boxy-article">
                    <!-- Subscribe text container: containing the text part of each article, which includes titles and a button -->
                    <div class="subscribe-text-container">
                        <h2 class="subscribe-article-title">Print & Digital</h2>
                        <h2 class="subscribe-article-price">89.99$</h2>
                        <h4>FOR 1 YEAR</h4>
                        <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                        <button class="action-button larger-button">SELECT</button>
                    </div>
                    <!-- The list of benefits the user gets when choosing this subscribe option -->
                    <div class="subscribe-container">
                        <ul class="subscribe-benefits">
                            <li>
                                <img class="checkmark" src="{% static 'blog/images/checkmark.svg' %}"
                                    alt="Subscription benefit checkmark icon: a 'v' shaped icon that indicates successful completion or approval">
                                Digital subscription
                            </li>
                        </ul>
                        <hr class="solid">
                        <ul class="subscribe-benefits">
                            <li>
                                <img class="checkmark" src="{% static 'blog/images/checkmark.svg' %}"
                                    alt="Subscription benefit checkmark icon: a 'v' shaped icon that indicates successful completion or approval">
                                10 print issues of the magazine delivered to your door
                            </li>
                        </ul>
                    </div>
                </article>

                <!-- Third article from the section -->
                <article class="subscribe-article boxy-article">
                    <!-- Subscribe text container: containing the text part of each article, which includes titles and a button -->
                    <div class="subscribe-text-container">
                        <h2 class="subscribe-article-title">Premium</h2>
                        <h2 class="subscribe-article-price">99.99$</h2>
                        <h4>FOR 1 YEAR</h4>
                        <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                        <button class="action-button larger-button">SELECT</button>
                    </div>
                    <!-- The list of benefits the user gets when choosing this subscribe option -->
                    <div class="subscribe-container">
                        <ul class="subscribe-benefits">
                            <li>
                                <img class="checkmark" src="{% static 'blog/images/checkmark.svg' %}"
                                    alt="Subscription benefit checkmark icon: a 'v' shaped icon that indicates successful completion or approval">
                                Print & Digital subscription
                            </li>
                        </ul>
                        <hr class="solid">
                        <ul class="subscribe-benefits">
                            <li>
                                <img class="checkmark" src="{% static 'blog/images/checkmark.svg' %}"
                                    alt="Subscription benefit checkmark icon: a 'v' shaped icon that indicates successful completion or approval">
                                Ad-free web browsing
                            </li>
                            <li>
                                <img class="checkmark" src="{% static 'blog/images/checkmark.svg' %}"
                                    alt="Subscription benefit checkmark icon: a 'v' shaped icon that indicates successful completion or approval">
                                Free digital gift subscription
                            </li>
                            <li>
                                <img class="checkmark" src="{% static 'blog/images/checkmark.svg' %}"
                                    alt="Subscription benefit checkmark icon: a 'v' shaped icon that indicates successful completion or approval">
                                A vital role in supporting The Verve's journalism
                            </li>
                        </ul>
                    </div>
                </article>
            </div>

            <div class="elements-col">
                <article class="subscribe-article-extra boxy-article">
                    <div class="subscribe-extra-text-container">
                        <h2 class="subscribe-extra-article-title">Gift Subscriptions</h2>
                        <p>Share a year's worth of ideas and insights with a fellow reader.</p>
                    </div>
                    <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                    <button class="action-button">LEARN MORE</button>
                </article>

                <article class="subscribe-article-extra boxy-article">
                    <div class="subscribe-extra-text-container">
                        <h2 class="subscribe-extra-article-title">Academic Subscription</h2>
                        <p>See subscription options for students and educators.</p>
                    </div>
                    <!-- NOTE: THE BUTTON IS ONLY MEANT FOR DECORATIVE PURPOSES AND DOES NOT CONTAIN ANY LINK. -->
                    <button class="action-button">LEARN MORE</button>
                </article>
            </div>
        </section>

        <!-- 
            The second of the two sections in which the page is divided. It contains 
            the reasons for which a user might choose subscribing to the website.
            Each one is separated from the others with a custom vertical "hr".
        -->
        <section class="container-section secondary-section">
            <!-- The title of the section -->
            <h2 class="subsection-title choose-subscription">WHY CHOOSE THE VERVE?</h2>
            <!-- The container for the three articles -->
            <div class="elements-row">
                <!-- First article from the section -->
                <article class="vertical-news-article col">
                    <!-- News image container: containing image of the article -->
                    <div class="news-image-container">
                        <img src="{% static 'blog/images/subscribe1.jpg' %}" alt="Shot of a record store selling vynils. The image shows up close the pop / rock section">
                    </div>
                    <!-- News text container: containing the text part of each article, which includes a title and an article brief -->
                    <div class="news-text-container">
                        <h4>Comprehensive Music Coverage</h4>
                        <p class="article-brief">
                            Immerse yourself in the world of music with The Verve. Our website offers comprehensive
                            music coverage, including the latest news, in-depth reviews, and exclusive artist
                            interviews.
                        </p>
                    </div>
                </article>

                <hr class="vertical-line">

                <!-- Second article from the section -->
                <article class="vertical-news-article col">
                    <!-- News image container: containing image of the article -->
                    <div class="news-image-container">
                        <img src="{% static 'blog/images/subscribe2.jpg' %}" alt="Shot of a musician playing guitar. The hands are playing a chord while only the middle part of the body of that person is visible">
                    </div>
                    <!-- News text container: containing the text part of each article, which includes a title and an article brief -->
                    <div class="news-text-container">
                        <h4>Discover Emerging Artists</h4>
                        <p class="article-brief">
                            At The Verve, we have a passion for discovering and promoting emerging artists. Explore our
                            curated features, ensuring you never miss the next
                            big thing in the music world.
                        </p>
                    </div>
                </article>

                <hr class="vertical-line">

                <!-- Third article from the section -->
                <article class="vertical-news-article col">
                    <!-- News image container: containing image of the article -->
                    <div class="news-image-container">
                        <img src="{% static 'blog/images/subscribe3.jpg' %}" alt="Crowd cheering at a concert. Some of the people in the crowd are raising their hands and shaping a heart">
                    </div>
                    <!-- News text container: containing the text part of each article, which includes a title and an article brief -->
                    <div class="news-text-container">
                        <h4>Engage with the Community</h4>
                        <p class="article-brief">
                            Join our thriving music community at The Verve. Connect with fellow music enthusiasts,
                            and participate in lively discussions about your favorite artists and genres.
                        </p>
                    </div>
                </article>
            </div>
        </section>
    </main>

{% endblock %}